{% extends "hello/layout.html" %}
{% block Title%}
About
{% endblock %}
{% block content %}
<h2>About page for the Lab 1 Computer Interface.</h2>

<p> 
    This is the web page for a wifi connected temperature sensor. The data displayed on the 'Graph' page is being sent from a temperature probe connected to the internet. The page is 
    updated onece a second. The most recent temperature, as well as the last 300 seconds of data are displayed in graph format. The data can be toggled from celcius to farenheight and the
    notifications box can be used to set the minimum and maximum thresholds that trigger notifications. The power button turns on the lcd screen on the temperature sensor when pressed.
    If you need help operating any of the features of the website, please refer to our help page.
</p>

{% endblock %}