{% extends "hello/layout.html" %}
{% block title %}
Help
{% endblock %}
{% block content  %}
<h2>Website Operation Manual</h2>

<h3>Power Button</h3>
<p>
    The power button is used to togle the LCD screen on the temperature sensor. When you press the power button, the lcd screen on the temperature probe will turn on and display
    the most recent temerature reading. As soon as you release the power button, the lcd screen will turn off. Please note that this will only work if the temperature probe is 
    powered on.
</p>

<h3>Notifications Box</h3>
<p>
    The notifications box is used to set the minimum and maximum thresholds for acceptable temperatures. If the temperature exceeds the range you have defined. A text notification
    will be sent to the phone number listed in the box. Please note that you must hit the save button for any of your changes to take effect.
</p>

<h3>Ceclius to Farenheight Toggle Switch </h3>
<p>
    The celcius to farenheight toggle switch can be used to toggle the website between celcius and farenheight.
</p>
{% endblock %}