{% extends "hello/layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content  %}
<p id='test_text'>New contact page for the Visual Studio Code Django tutorial.</p>


<!-- <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>

<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>




<button type="button" onmousedown="powerUp()" onmouseup="powerDown()" onmouse="powerDown()">POWER°F</button>



<!-- <script>
    function powerUp() {

    }
</script> -->




<!-- <script>
    function handleSwitch() {
        console.log("Power !!")

        // set innertext current reading C


        // data = firebase get ...

        // redraw(data)


    }
</script>
 -->







<script>
    function redraw() {
        console.log("Power !!")

        // parse the data into array

        // y max = C max
        // if switch is F
        //     y max = F max
        //     loop through array
        //         value = value * 5/9 + 32

        // graph 

    }
</script>



















<!-- <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script> -->
<script>

    // import { getDatabase, ref, child, get } from "firebase/database";

    // Set the configuration for your app
    // TODO: Replace with your project's config object
    var config = {
        apiKey: "AIzaSyA1XkaqnfFO8pm-yuTK5ggZpAsY27eOwn8",
        authDomain: "projectId.firebaseapp.com",
        // For databases not in the us-central1 location, databaseURL will be of the
        // form https://[databaseName].[region].firebasedatabase.app.
        // For example, https://your-database-123.europe-west1.firebasedatabase.app
        databaseURL: "https://connected-temp-sensor-default-rtdb.firebaseio.com/",
        storageBucket: "bucket.appspot.com"
    };
    firebase.initializeApp(config);

    // Get a reference to the database service
    var userDataRef = firebase.database().ref()


    var send_string = "test"

    // userDataRef.update({last_300_seconds: send_string})
    
    // ({temps:{last_300_seconds: send_string}})

    var current_temp = '0';
    current_temp = '22'; 


    // setInterval(function() { 

    userDataRef.on("value", function(snapshot) {
        var output = document.getElementById('test_text');
        
        output.innerHTML = snapshot.val().last_300_seconds; 

        console.log(snapshot.val().last_300_seconds)

        redraw(snapshot.val().last_300_seconds);



        let data = new FormData();

        data.append("foo", "bar")  

        axios.post('send_notification/', data) // 4
            .then(res => alert("Form Submitted")) // 5
            .catch(errors => console.log(errors)) // 6


    }, function (error) {
        console.log("Error: " + error.code);
    });
    // }, 5000);


    function powerUp() {
        userDataRef.update({virtual_button_pressed: "True"})
    }

    
    function powerDown() {
        userDataRef.update({virtual_button_pressed: "False"})
    }

</script>
{% endblock %}