{% extends "hello/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Home page for the Lab 1 Computer Interface. There will be a graph below.</p>
<button id="button" onmousedown="powerUp()" onmouseup="powerDown()" onmouseleave="powerDown()">POWER</button>

<!-- Rectangular switch -->
<label for="switch">C</label>
<label class="switch" onmousedown="conversion()">
    <input type="checkbox" id="checkbox">
    <span class="slider"></span>
</label>
<label for="switch">F</label>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
<div class="chart-container" style="position: relative; height: 40vh; width: 80vh; padding: 30px; border: 2px solid; resize: both;">
    <canvas id="timeSeriesChart"></canvas>
</div>
<div class="notifications">
  <div class="notifications-header">
    <p>Notifications Settings</p>
  </div>
  <div class="max-min-inputs">
    <form>
      <label for="Max">Max:</label>
      <input type="text" id="Max" name="Max">
      <label for="Max" id="maxD">C</label>
      <br><br>
      <label for="Min">Min:</label>
      <input type="text" id="Min" name="Min">
      <label for="Min" id="minD">C</label>
      <br><br>
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone"><br><br>
      <input type="button" value="Submit">
    </form>
  </div>
</div>

<script>

//const currentUnit = document.getElementById("maxD").innerText
function conversion(){
  console.log("Changed Unit")
  var max = parseFloat(document.getElementById("Max").value)
  var min = parseFloat(document.getElementById("Min").value)
  if (max == NaN && min == NaN){
    document.getElementById("Max").value = ""
    document.getElementById("Min").value = ""
  }
  const currentUnit = document.getElementById("maxD").innerText
  if(currentUnit == 'C'){
    document.getElementById("maxD").innerText = 'F'
    document.getElementById("minD").innerText = 'F'
    document.getElementById("Max").value = (max * 9/5) + 32
    document.getElementById("Min").value = (min * 9/5) + 32
    console.log(NUMBER_CFG.min)
   // NUMBER_CFG.min = 50
   // NUMBER_CFG.max = 122
    for(var i = 0, length = data.length; i<length; i++){
      data[i] = (data[i] * 9/5) +32
    }
    secondSetData[0] = 50
    secondSetData[1] = 122
    chart.update()
  }else{
    document.getElementById("maxD").innerText = 'C'
    document.getElementById("minD").innerText = 'C'
    document.getElementById("Max").value = (max - 32) / (9/5)
    document.getElementById("Min").value = (min - 32) / (9/5)
    for(var i = 0, length = data.length; i<length; i++){
      data[i] = (data[i] -32) / (9/5)
    }
    secondSetData[0] = 10
    secondSetData[1] = 50
    chart.update()
  }
}
///////////////
function numbers(config) {
  var cfg = config || {};
  var min = cfg.min;
  var max = cfg.max;
  /*
  var from = cfg.from;
  var count = cfg.count;
  var decimals = cfg.decimals;
  var continuity = cfg.continuity;
  var dfactor = Math.pow(10, decimals) || 0;
  */
  var data = [min,max];
  //var i, value;

  return data;
}

const CHART_COLORS = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
};
//////////////



const ctx = document.getElementById('timeSeriesChart').getContext('2d');

const startDate = new Date(2020, 0, 1);
const labels = [];
for (let i = 0; i < 6; i++) {
  //const date = moment(startDate).add(i, 'days').format('YYYY-MM-DD');
  //labels.push(date.toString());
  const time = i
  labels.push(time.toString())
}

var ticks = [50,45,35,30,25,20,15,10];
var data = [16, 11, NaN, 10, 12, 11]
var NUMBER_CFG = {count: data.length, min:10, max:50}
var secondSetData = [10,50]
const chart = new Chart(ctx, {
  type: 'line',
  data: {
    labels,
    axesY :{
          title: "Temperature"
        },
    datasets: [{
      label: 'Temperature',
      data: data,
      borderWidth: 5,
      fill: false,
      borderColor: 'red'
    },
    {
      data:secondSetData,//numbers(NUMBER_CFG),
      fill: false,
      borderColor: 'white',
    }]
  },
  options: {
      legend:{
          display: false
      },
      scales: {
          yAxis :[{
            scaleLabel: {
              display: true,
              labelString: 'temperature'
            }
          }],
          /*
          afterBuildTicks: function(scale){
              scale.ticks = ticks;
              return;
          },
          beforeUpdate: function(oScale){
          return;
        }
        */
      },
  }
});

/*function addData(){
  handler(chart){
    const data = chart.data;
    data = data.push(rand(10,50))
  }
  chart.update
}
*/
const actions = [{
  name: 'Add Data',
  handler(chart){
    const data = chart.data;
    data = data.push(rand(10,50))
    chart.update()
  }
}
]
// chart.update needed for graphing new data values
//chart.defaults.scales.linear.min = 10
</script>

<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
  var config = {
      apiKey: "AIzaSyA1XkaqnfFO8pm-yuTK5ggZpAsY27eOwn8",
      authDomain: "projectId.firebaseapp.com",
      databaseURL: "https://connected-temp-sensor-default-rtdb.firebaseio.com/",
      storageBucket: "bucket.appspot.com"
  };
  firebase.initializeApp(config);

  // Get a reference to the database service
  var userDataRef = firebase.database().ref()

  userDataRef.on("value", function(snapshot) {

      // TODO: pass new data to 

      // TODO: only send sns alert on value outside range

      console.log('Firebase value changed...')

      // commented code below implements call to backend send_notification method

      // let data = new FormData();
      // data.append("foo", "bar");
      // axios.post('send_notification/', data) 
      //     .then(res => alert("Form Submitted")) 
      //     .catch(errors => console.log(errors)) 

  }, function (error) {
      console.log("Error: " + error.code);
  });

  // update firebase to signal virtual button is pressed
  function powerUp() {
      userDataRef.update({virtual_button_pressed: "True"})
  }
  
  // update firebase to signal virtual button is not pressed
  function powerDown() {
      userDataRef.update({virtual_button_pressed: "False"})
  }

</script>

{% endblock %}