{% extends "hello/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Home page for the Lab 1 Computer Interface. There will be a graph below.</p>
<button id="button" onmousedown="powerUp()" onmouseup="powerDown()" onmouseleave="powerDown()">POWER</button>

<!-- Rectangular switch -->
<label for="switch">C</label>
<label class="switch" onmousedown="conversion()">
    <input type="checkbox" id="checkbox">
    <span class="slider"></span>
</label>
<label for="switch">F</label>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
<div class="chart-container" style="position: relative; height: 40vh; width: 80vh; padding: 30px; border: 2px solid; resize: both;">
  <canvas id="timeSeriesChart"></canvas>
</div>
<div class="notifications">
  <div class="notifications-header">
    <p>Notifications Settings</p>
  </div>
  <div class="max-min-inputs">
    <form>
      <label for="Max">Max:</label>
      <input type="text" id="Max" name="Max">
      <label for="Max" id="maxD">C</label>
      <br><br>
      <label for="Min">Min:</label>
      <input type="text" id="Min" name="Min">
      <label for="Min" id="minD">C</label>
      <br><br>
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone"><br><br>
      <input type="button" value="Save/Edit" onclick="toggleSaved('Max','Min','phone')">
    </form>
  </div>
</div>
<div class="currentReading" style="position: absolute; top: 100px; left: 1000px;">
  <form>
    <label for="CurrentTemperature" style="font-size: larger; font-weight: bold;">Current Temperature: </label><br>
    <input type="text" id="CurrentTemperature" readonly style="font-size: larger; font-weight: bold;">
    <label for="CurrentTemperature" id="unit" style="font-size: larger; font-weight: bold;">C°</label>
  </form>
</div>

<script>
  function toggleSaved(maxBox, minBox,numberBox) {
    if (document.getElementById(maxBox).disabled == true) {
      document.getElementById(maxBox).disabled = false;
      document.getElementById(minBox).disabled = false;
      document.getElementById(numberBox).disabled = false;
    }
    else {
      document.getElementById(maxBox).disabled = true;
      document.getElementById(minBox).disabled = true;
      document.getElementById(numberBox).disabled = true;
    }

  }

</script>



<script>

function conversion(){
  console.log("Changed Unit")
  var max = parseFloat(document.getElementById("Max").value)
  var min = parseFloat(document.getElementById("Min").value)
  if (max == NaN && min == NaN){
    document.getElementById("Max").value = ""
    document.getElementById("Min").value = ""
  }
  const currentUnit = document.getElementById("maxD").innerText
  if(currentUnit == 'C'){
    document.getElementById("maxD").innerText = 'F'
    document.getElementById("minD").innerText = 'F'
    document.getElementById("unit").innerText = 'F°'
    document.getElementById("CurrentTemperature").value = Number(Math.round(((max * 9/5) + 32)+'e2')+'e-2');
    document.getElementById("Max").value = Number(Math.round(((max * 9/5) + 32)+'e2')+'e-2');
    document.getElementById("Min").value =  Number(Math.round(((min * 9/5) + 32)+'e2')+'e-2');
    console.log(NUMBER_CFG.min)
    for(var i = 0, length = data.length; i<length; i++){
      data[i] = (data[i] * 9/5) +32
    }
    secondSetData[0] = 50
    secondSetData[1] = 122
    chart.update()
  }else{
    document.getElementById("maxD").innerText = 'C'
    document.getElementById("minD").innerText = 'C'
    document.getElementById("unit").innerText = 'C°'
    document.getElementById("CurrentTemperature").value =  Number(Math.round(((max - 32) / (9/5))+'e2')+'e-2');
    document.getElementById("Max").value =  Number(Math.round(((max - 32) / (9/5))+'e2')+'e-2');
    document.getElementById("Min").value =  Number(Math.round(((min - 32) / (9/5))+'e2')+'e-2');
    for(var i = 0, length = data.length; i<length; i++){
      data[i] = (data[i] -32) / (9/5)
    }
    secondSetData[0] = 10
    secondSetData[1] = 50
    chart.update()
  }
}
/////
function numbers(config) {
  var cfg = config || {};
  var min = cfg.min;
  var max = cfg.max;

  var data = [min,max];


  return data;
}
/////


const ctx = document.getElementById('timeSeriesChart').getContext('2d');

const labels = [];
for (let i = 0; i < 300; i++) {
  //const date = moment(startDate).add(i, 'days').format('YYYY-MM-DD');
  //labels.push(date.toString());
  const time = i
  labels.push(time.toString())
}

var ticks = [50,45,35,30,25,20,15,10];
var data = [16, 11, NaN, 10, 80, 9]
var NUMBER_CFG = {count: data.length, min:10, max:50}
var secondSetData = [10,50]
const chart = new Chart(ctx, {
  type: 'line',
  data: {
    labels,
    axesY :{
          title: "Temperature"
        },
    datasets: [{
      label: 'Temperature',
      data: data,
      borderWidth: 5,
      fill: false,
      borderColor: 'red'
    },
    {
      data:secondSetData,//numbers(NUMBER_CFG),
      fill: false,
      borderColor: 'white',
    }]
  },
  options: {
    legend:{
          display: false
      },
      scales: {
          yAxis :{
            autoSkip: false,
            min: ticks[ticks.length-1],
            Max: ticks[0]
          },
          /*
          afterBuildTicks: function(scale){
              scale.ticks = ticks;
              return;
          },
          beforeUpdate: function(oScale){
          return;
        }
        */
      },
  }
});

document.getElementById("CurrentTemperature").value = data.at(-1)

//chart.defaults.scales.linear.min = 10
</script>

<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
  var config = {
      apiKey: "AIzaSyA1XkaqnfFO8pm-yuTK5ggZpAsY27eOwn8",
      authDomain: "projectId.firebaseapp.com",
      databaseURL: "https://connected-temp-sensor-default-rtdb.firebaseio.com/",
      storageBucket: "bucket.appspot.com"
  };
  firebase.initializeApp(config);

  // Get a reference to the database service
  var userDataRef = firebase.database().ref();
  var tempValuesRef = userDataRef.child("last_300_seconds");

  var outside_range = false;

  tempValuesRef.on("value", function(snapshot) {

      // TODO: pass new data to 

      // TODO: only send sns alert on value outside range

      console.log('Firebase value changed...');
      console.log(typeof(snapshot.val()));
      console.log(snapshot.val().at(-1));
      console.log(snapshot.val());

      var temps = snapshot.val();
      var current_temp = temps.at(0);

      let temp_data = [];
      

      for (let i = 0; i < temps.length; i++) {
        i = i + 1;
          if (temps.at(-i) != "DNA" || temps.at(-i) != "US") {
            temp_data.push(parseFloat(temps.at(-i))/1000);
          }
          else {
            temp_data.push(NaN);
          }
      }

      for (let i = 0; i < 300 - temps.length; i++) {
        temp_data.push(NaN);
      }

      console.log(temp_data);
  
      // commented code below implements call to backend send_notification method

      if (document.getElementById('Max').disabled == true) {
        var to_num = document.getElementById('phone').value
        console.log(to_num)

        let data = new FormData();
        data.append("foo", "bar");
        axios.post('send_notification/' + to_num + '/working', data) 
            .then(res => alert("Form Submitted")) 
            .catch(errors => console.log(errors)) 
      }

  }, function (error) {
      console.log("Error: " + error.code);
  });

  // update firebase to signal virtual button is pressed
  function powerUp() {
      userDataRef.update({virtual_button_pressed: "True"})
  }
  
  // update firebase to signal virtual button is not pressed
  function powerDown() {
      userDataRef.update({virtual_button_pressed: "False"})
  }

</script>

{% endblock %}