{% extends "hello/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Home page for the Lab 1 Computer Interface. There will be a graph below.</p>
<button type="button">POWER</button>
<!-- Rectangular switch -->
<label for="switch">F</label>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
</label>
<label for="switch">C</label>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
<div class="chart-container" style="position: relative; height: 40vh; width: 80vh;">
    <canvas id="timeSeriesChart"></canvas>
</div>
<div class="notifications">
  <div class="notifications-header">
    <p>Notifications Settings</p>
  </div>
  <div class="max-min-inputs">
    <form>
      <label for="Max">Max:</label>
      <input type="text" id="Max" name="Max"><br><br>
      <label for="Min">Min:</label>
      <input type="text" id="Min" name="Min"><br><br>
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>



<script>
const ctx = document.getElementById('timeSeriesChart').getContext('2d');

const startDate = new Date(2020, 0, 1);
const labels = [];
for (let i = 0; i < 6; i++) {
  const date = moment(startDate).add(i, 'days').format('YYYY-MM-DD');
  labels.push(date.toString());
}

var ticks = [50,45,35,30,25,20,15,10];
const chart = new Chart(ctx, {
  type: 'line',
  axesY :{
          title: "Temperature"
        },
  data: {
    labels,
    datasets: [{
      label: 'Temperature',
      data: [16, 11, NaN, 10, 12, 9],
      borderWidth: 5,
      fill: false,
      borderColor: 'red'
    }]
  },
  options: {
      scales: {
        
        /*
          axesY :{
            autoSkip: false,
            min: ticks[ticks.length-1],
            Max: ticks[0]
          },
          afterBuildTicks: function(scale){
              scale.ticks = ticks;
              return;
          },
          beforeUpdate: function(oScale){
          return;
        }
        */
      },
  }
});

chart.defaults.scales.linear.min = 10
</script>

{% endblock %}